html {
    height: 100%
}



body {

    background-image: url(Images/norway-second-war-planes.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;

}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    color: black;
}




header {

    height: 118px;
    text-align: center;
    ;
    margin-left: auto;
    margin-right: auto;

}

nav {
    background-color: rgb(0, 0, 0.338);

    ;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

h1 {  /*3 <Heading1> */

    margin-left: -295px;
    margin-top: 110px;
    margin-bottom: 10px;
    margin-right: 320px;
    font-size: 84px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




p {
    margin-top:125px;
    margin-left:-300px;
    margin-right:25px;
    font-size: 33px;
    color:rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: aliceblue;

}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer b {

    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

section {
    margin: 100px;
    margin-top: 50px;
    margin-left: 768px;
    margin-right: 100px;
}

